@using FruitablesBL.ViewModels
@* @using FruitablesBL.EntityManagement.Interface
@using FruitablesBL.EntityManagement.Repository *@

@model SellerListVM


<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Shop</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Shop</li>
    </ol>
</div>
<!-- Single Page Header End -->
<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <h1 class="mb-4 text-center ">Fresh Organics shops</h1>
        <h4 class="mb-4 text-primary text-center">All your favourite shops in one place!</h4>

        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-xl-3">
                    </div>
                    <div class="col-6"></div>
                        <form>
                            <div class="col-xl-3">
                                <div class=" ps-3 py-3 rounded d-flex justify-content-between mb-4 input-group w-100 mx-auto d-flex">
                                    <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1" name="sName" value="@ViewBag.sNAme">
                                    <button type="submit" id="search-icon-1" style="left:100%" class="input-group-text p-3"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                </div>
                <div class="row g-4">

                    <div class="col-lg-3">

                        <div class="row g-4">

                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <div class="col-lg-12">
                                        <div class="position-relative">
                                            <img src="~/img/banner-fruits.jpg" class="img-fluid w-100 rounded" alt="">
                                            <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);">
                                                <h3 class="text-secondary fw-bold">Always <br> Fresh <br> </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <div class="col-lg-12">
                                        <div class="position-relative">
                                            <img src="~/img/banner2.jpg" class="img-fluid w-100 rounded" alt="">
                                            <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="col-lg-12">
                                    <div class="position-relative">
                                        <img src="~/img/banner1.jpg" class="img-fluid w-100 rounded" alt="">
                                        <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row g-4 justify-content-center">


                                
                                    @foreach (SellerVM Seller in Model.selerVMS)
                                    {
                                    <div class="col-md-6 col-lg-6 col-xl-4">

                                        <div class="rounded position-relative fruite-item">
                                            <div class="fruite-img">
                                                <img src="@Seller.Logo" class="img-fluid w-100 rounded-top border border-secondary " alt="">
                                            </div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom align-text-center">
                                                <h4 class="align-text-center">@Seller.CommercialName</h4>
                                                @{
                                                    int goodRate = (int)Seller.Rate;
                                                    int badRate = 5 - goodRate -1;
                                                    for (int i = 0; i < goodRate; i++)
                                                    {
                                                        <i class="bi bi-star-fill text-secondary"></i>
                                                    }
                                                    if (((goodRate + badRate) - Seller.Rate) > 0)
                                                    {

                                                        <i class="bi bi-star-half text-secondary"></i>
                                                    }

                                                    else
                                                    {
                                                        <i class="bi bi-star text-secondary"></i>

                                                    }
                                                    for (int i = 0; i < badRate; i++)
                                                    {
                                                        <i class="bi bi-star text-secondary"></i>
                                                    }

                                                    
                                                }
                                                <div class="d-flex align-text-center flex-lg-wrap">
                                                    <div class="d-flex align-text-center flex-lg-wrap mt-2">
                                                        <a asp-controller="Product" asp-action="Products" asp-route-sellerID="@Seller.SellerId" class="btn border border-secondary rounded-pill px-3 text-primary m-auto"><i class="fa fa-shopping-bag me-2 text-primary"></i> Shop</a>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    }
                                    
                            
                            
                                @{
                                    int pageNumbers = Model.Count / 6;
                                }
                            
                           

                            <div class="col-12">
                                <div class="pagination d-flex justify-content-center mt-5">
                                    <a href="#" class="rounded">&laquo;</a>
                                    @for (int i = 1; i <= pageNumbers + 1; i++)
                                    {
                                        <a asp-controller="Sellers" asp-action="Sellers" asp-route-pageNumber="@i" class="rounded"> @i</a>
                                    }
                                   @*  <a asp-controller="Seller" asp-action="Index" asp-route-pageNumber="1" class="rounded"> 1</a>
                                    <a asp-controller="Seller" asp-action="Index" asp-route-pageNumber="2" class="rounded"> 2</a>
                                    <a asp-controller="Seller" asp-action="Index" asp-route-pageNumber="3" class="rounded"> 3</a>
                                    <a asp-controller="Seller" asp-action="Index" asp-route-pageNumber="4" class="rounded"> 4</a>
                                    <a asp-controller="Seller" asp-action="Index" asp-route-pageNumber="5" class="rounded"> 5</a>
                                            <a asp-controller="Seller" asp-action="Index" asp-route-pageNumber="6" class="rounded"> 6</a>
                                     *@

                                    <a href="#" class="rounded">&raquo;</a>
                                </div>
                            </div>
                               
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fruits Shop End-->
